# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.vscode/launch.json
bs/
cmd/*.json
cmd/ChirpForwarder/.canary.lastcheck
canarytools.config
cmd/ChirpForwarder/certs/
cmd/ChirpForwarder/canaryChirps.json
cmd/sandbox
filenames.txt
cmd/TokenDropper/filenames*
cmd/TokenDropper/test/
.DS_Store
cmd/ChirpForwarder/ChirpForwarder
cmd/TokenDropper/TokenDropper
lastcheck
TokenDropper
